* {
    font-family: 'Roboto Slab', serif;
  }
  
  .page-one {
    position: relative;
    background-color: ;
}
  .page-two {
    position: relative;
    background-color: ;
    z-index: -1;
  }
  .page-three {
    position: relative;
    background-color: #1a2238;
    z-index: -1;
  }
  .grey {
    color: #ff6a3d;
  }