* {
    font-family: 'Roboto Slab', serif;
  }
  
  .page-one {
    position: relative;
}
  .page-two {
    position: relative;
    background-color: ;
    z-index: -1;
  }
  .page-three {
    position: relative;
    background-color: #8D4B5B;
    z-index: -1;
  }

  .svg {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    width: 20vw;
    height: 30vh;

  }

  .grey {
    color: #5626c4;
  }