* {
    font-family: 'Roboto Slab', serif;
  }
  
  .page-one {
    position: relative;
    background-color: #ee2935;
}
  .page-two {
    position: relative;
    background-color: #ee2935;
  }

  .grey {
    color: #4957ed;
  }