nav.navbar {
    background-color: #E400AB;
    z-index: 2;
    opacity: .9;
    position: fixed;
    top: 0;
}

.container-fluid a {
    color: #fff;
    letter-spacing: .1rem;
}

.container-fluid a:hover {
    color: #fff;
}
.burger {
    font-size: 6vw;
} 